<div id="uie-main-menu" style="display:none;">
    <div class="uie-menu-header" id="uie-menu-drag">Universal Engine</div>
    <div id="uie-view-main">
        <div class="uie-menu-item" id="uie-btn-inventory"><i class="fa-solid fa-box"></i><span>Inventory</span></div>
        <div class="uie-menu-item" id="uie-btn-phone"><i class="fa-solid fa-mobile-screen"></i><span>Phone</span></div>
        <div class="uie-menu-item" id="uie-btn-social"><i class="fa-solid fa-users"></i><span>Social</span></div>
        <div class="uie-menu-item" id="uie-btn-debug" style="color:#00f0ff;"><i class="fa-solid fa-bug"></i><span>System Check</span></div>
    </div>
</div>
