<div id="uie-main-menu" style="display:none;">
    <div id="uie-view-main">
        <div class="uie-menu-header" id="uie-menu-drag">Menu <i class="fa-solid fa-grip-lines"></i></div>
        <div class="uie-menu-item" id="uie-btn-inventory"><i class="fa-solid fa-box"></i><span>Inventory</span></div>
        <div class="uie-menu-item" id="uie-btn-journal"><i class="fa-solid fa-book-bookmark"></i><span>Journal</span></div>
        <div class="uie-menu-item" id="uie-btn-diary"><i class="fa-solid fa-book-open"></i><span>Diary</span></div>
        <div class="uie-menu-item" id="uie-btn-social"><i class="fa-solid fa-heart"></i><span>Social</span></div>
        <div class="uie-menu-item" id="uie-btn-shop"><i class="fa-solid fa-shop"></i><span>Shop</span></div>
        <div class="uie-menu-item" id="uie-btn-misc"><i class="fa-solid fa-bars"></i><span>Misc</span><i class="fa-solid fa-chevron-right" style="margin-left:auto;"></i></div>
    </div>

    <div id="uie-view-misc" style="display:none;">
        <div class="uie-misc-header">
            <i class="fa-solid fa-arrow-left" id="uie-btn-back"></i>
            <span>Misc</span>
        </div>
        <div class="uie-misc-content">
            <div class="uie-menu-item" id="uie-btn-open-phone"><i class="fa-solid fa-mobile-screen"></i><span>Phone</span></div>
            <div class="uie-menu-item" id="uie-btn-open-settings"><i class="fa-solid fa-sliders"></i><span>Settings</span></div>
            <div class="uie-menu-item" id="uie-btn-debug" style="color:#00f0ff;"><i class="fa-solid fa-bug"></i><span>System Check</span></div>
            <div class="uie-menu-item" id="uie-btn-reset" style="color:#f66;"><i class="fa-solid fa-trash"></i><span>Reset UI</span></div>
        </div>
    </div>
</div>
