<div class="uie-settings-block">
    <div class="inline-drawer"><div class="inline-drawer-toggle inline-drawer-header"><b>Universal Immersion Engine</b><div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div></div>
    <div class="inline-drawer-content uie-settings-drawer"><div class="uie-control-group"><label>UI Scale: <span id="uie-scale-display">1.0</span>x</label><input type="range" id="uie-scale-slider" min="0.5" max="1.5" step="0.1" value="1.0" style="width:100%;"></div></div></div>
</div>
